<div class="form-group">
	<fieldset>
		<%= f.select(:education_id, Education.all.collect {|u| [u.eduName, u.id]}, :prompt => 'Select') %>
		<%= f.text_field :colzname, placeholder: "Name of School/College" %>
		<%= f.text_field :year, placeholder: "Pass Out Year" %>
		<%= f.hidden_field :_destroy %>
		<%= link_to  '#', class: "remove_fields" do %>
        <%= fa_icon "times-circle" %>
    <% end %>
	</fieldset>
</div>
