<h3 class="text-center">Recruiting companies</h3>
<% @recuitor_profiles.each do |recuitor_profile| %>
	<div class="job-ad-item">
		<div class="item-info">
			<div class="ad-info">
				<span><%= recuitor_profile.company_name %><br></span>
				<div class="ad-meta">
					<i class="fa fa-industry"></i><%= recuitor_profile.industry %><br>
					<i class="fa fa-id-card"></i><%= recuitor_profile.pan_no %><br>
					<i class="fa fa-globe"></i><%= recuitor_profile.website %><br>
					<i class="fa fa-envelope"></i><%= recuitor_profile.email %><br>
					<i class="fa fa-phone"></i><%= recuitor_profile.contact_no %><br>
					<i class="fa fa-map-marker"></i><%= recuitor_profile.address %><br>
				</div>
			</div>
		</div>
	</div>
<% end %>
