<div class="banner-job">
	<div class="banner-overlay"></div>
	<div class="container text-center">
		<h1 class="title">Easiest Step Towards Your New Job</h1>
		<h3>We offer different jobs vacancy</h3>
		<div class="banner-form">
      <%= form_tag(root_path, :method => "get") do %>
				<%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>
				<div class="dropdown category-dropdown">
					<a data-toggle="dropdown" href="#"><span class="change-text">Job Location</span> <i class="fa fa-angle-down"></i></a>
					<ul class="dropdown-menu category-change">
						<li><a href="#">Kathmandu</a></li>
						<li><a href="#">Lalitpur</a></li>
						<li><a href="#">Bhaktapur</a></li>
					</ul>
				</div><!-- category-change -->
        <%= button_tag "Search", :class => 'btn btn-primary'%>

        <% end %>

		</div><!-- banner-form -->

		<!-- <ul class="banner-socail list-inline">
			<li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
			<li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
			<li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
			<li><a href="#" title="Youtube"><i class="fa fa-youtube"></i></a></li>
		</ul><!-- banner-socail -->
	</div><!-- container -->
</div><!-- banner-section -->

<div class="page">
	<div class="container">
		<div class="section latest-jobs-ads">
			<div class="section-title tab-manu">
				<h4>Latest Jobs</h4>

				 <!-- Nav tabs -->
			</div>
				<div>
					<% @job_posts.each do |job_post| %>
						<div class="job-ad-item">
							<div class="item-info">
								<div class="ad-info">
									<span><a href="job-details.html" class=title><%= link_to  job_post.job_title ,  job_post_path(job_post) %></a>
									<div class="ad-meta">
										<ul>
											<li><i class="fa fa-map-marker" aria-hidden="true"></i><%= job_post.location %></li>
											<li><i class="fa fa-clock-o" aria-hidden="true"></i><%= job_post.job_type %></li>
											<li><i class="fa fa-tags" aria-hidden="true"></i><%= job_post.department %></li>
										</ul>
									</div><!-- ad-meta -->
								</div><!-- ad-info -->
								<% unless recuitor_signed_in? %>

									<div class="button">
										<%= form_tag(apply_jobs_path,:method => "post") do %>
											<%= hidden_field_tag "job_post_id", job_post.id %>
											<% if seeker_signed_in? %>
												<%= hidden_field_tag "seeker_id", current_seeker.id %>
											<% end %>
											<%= button_tag "Apply Now", :class => 'btn btn-primary', data: { confirm: 'Do you want to apply for this job' }%>
										<% end %>
									</div>
								<% end %>
							</div><!-- item-info -->
						</div><!-- ad-item -->
					<% end %>
				</div><!-- tab-pane -->
		</div><!-- trending ads -->
	</div>
</div>
