<section class="job-bg user-page">
  <div class="container">
    <div class="row text-center">
      <!-- user-login -->
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">


<%= form_for @seeker_profile do |f| %>
  <% if seeker_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(seeker_profile.errors.count, "error") %> prohibited this seeker_profile from being saved:</h2>

      <ul>
      <% seeker_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="find-job">
                <div class="form-group">
                  <%= f.label :first_name %><br />
                  <%= f.text_field :first_name,class:"form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :last_name %><br />
                  <%= f.text_field :last_name,class:"form-control" %>
                </div>
                <div class="field">
                  <%= f.label :phone_no %><br />
                  <%= f.text_field :phone_no,class:"form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :sex %><br />
                  <%= f.text_field :sex,class:"form-control" %>
                </div>



                <h1>Education</h1>

                    <%= f.fields_for :seeker_educations do |ff| %>
                    <%= render 'shared/educations', f: ff %>

                    <% end %>

                <h1>Category</h1>

                    <%= f.fields_for :seeker_category do |ff| %>
                    <% binding.pry %>
                    <%= render 'shared/category', f: ff %>

                    <% end %>

                <div class="form-group">
                  <%= f.label :prefered_loc %><br />
                  <%= f.text_field :prefered_loc,class:"form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :salary %><br />
                  <%= f.text_field :salary,class:"form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :dob %><br />
                  <%= f.text_field :dob,class:"form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :nationality %><br />
                  <%= f.text_field :nationality,class:"form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :perm_address %><br />
                  <%= f.text_field :perm_address,class:"form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :temp_address %><br />
                  <%= f.text_field :temp_address,class:"form-control" %>
                </div>


                <div class="form-group">
                  <%= f.label :experience %><br />
                  <%= f.text_field :experience,class:"form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :description %><br />
                  <%= f.text_field :description,class:"form-control" %>
                </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div><!-- user-login -->
</div><!-- row -->
</div><!-- container -->
</section><!-- signup-page -->
