<section class="job-bg user-page">
  <div class="container">
    <div class="row text-center">
      <!-- user-login -->
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <%= form_for @seeker_profile do |f| %>
          <% if seeker_profile.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(seeker_profile.errors.count, "error") %> prohibited this seeker_profile from being saved:</h2>
              <ul>
                <% seeker_profile.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="find-job">
              <div class="form-group">
                <%= f.label :first_name, class:"pull-left text-white" %><br />
                <%= f.text_field :first_name, :required => true, class:"form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :last_name, class:"pull-left text-white" %><br />
                <%= f.text_field :last_name, :required => true, class:"form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :phone_no, class:"pull-left text-white" %><br />
                <%= f.text_field :phone_no,class:"form-control" %>
              </div>
              <div class="form-group sex">
                <%= f.label :sex, "Male", :value => "true", class:"text-white pull-left", id: "male"  %>
                <%= f.radio_button :sex, true, class: "pull-left" %>
                <%= f.label :sex, "Female", :value => "false", class:"text-white pull-left", id: "female" %>
                <%= f.radio_button :sex, false, :checked => true, class: "pull-left" %>
              </div>
              <br />
              <div class="form-group">
                <%= f.label :education, class:"pull-left text-white" %><br />
                <%= f.fields_for :seeker_educations do |ff| %>
                  <%= render 'shared/seeker_education', f: ff %>
                <% end %>
                <button type="button" class="btn btn-default pull-left edu">
                  <%= link_to_add_fields "Add Education", f, :seeker_educations %>
                </button>
              </div>

              <div class="form-group">
                <%= f.label :category, class:"pull-left text-white" %><br />
                <%= f.fields_for :seeker_categories do |ff| %>
                  <%= render 'shared/seeker_category', f: ff %>

                <% end %>

              </div>

              <div class="form-group">
                <%= f.label :skills, class:"pull-left text-white" %><br />
                <%= f.fields_for :seeker_skills do |ff| %>
                  <%= render 'shared/seeker_skill', f: ff %>
                <% end %>
                <button type="button" class="btn btn-default pull-left skill">
                  <%= link_to_add_fields "Add Skills", f, :seeker_skills %>
                </button>
              </div>

              <div class="form-group">
                <%= f.label :prefered_loc,"Preferred Location", class:"pull-left text-white" %><br />
                <%= f.text_field :prefered_loc,class:"form-control" %>
              </div>

              <div class="form-group">
                <%= f.label :salary,"Expected Salary", class:"pull-left text-white" %><br />
                <%= f.text_field :salary,class:"form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :dob,"DoB(dd/mm/yyyy)", class:"pull-left text-white" %><br />
                <%= f.text_field :dob,class:"form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :nationality, class:"pull-left text-white" %><br />
                <%= f.text_field :nationality,class:"form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :perm_address,"Permanent Address", class:"pull-left text-white" %><br />
                <%= f.text_field :perm_address,class:"form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :temp_address,"Temporary Address", class:"pull-left text-white" %><br />
                <%= f.text_field :temp_address,class:"form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :location,"Birth Place", class:"pull-left text-white" %><br />
                <%= f.text_field :location,class:"form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :job_status,"Job Status(True/False)", class:"pull-left text-white" %><br />
                <%= f.text_field :job_status,class:"form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :experience,"Experience(years)", class:"pull-left text-white" %><br />
                <%= f.text_field :experience,class:"form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :certificate,"About Certificates Gained", class:"text-white" %><br />
                <%= f.cktext_area :certificate, ckeditor: { language: 'uk'} %>
              </div>

              <div class="form-group">
                <%= f.label :description,"About Me", class:"text-white"  %><br />
                <%= f.cktext_area :description, ckeditor: { language: 'uk'} %>
              </div>

              <div class="form-group">
                <%= f.label :photo %><br />
                <%= f.file_field :photo,class:"form-control" %>
              </div>

            <div class="actions">
              <%= f.submit "Update", class: "btn-primary"%>
            </div>
        <% end %>
        
      </div><!-- user-login -->
    </div><!-- row -->
  </div><!-- container -->
</section><!-- signup-page -->
