<!-- <p id="notice"><%= notice %></p>

<h1>Seeker Profiles</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @seeker_profiles.each do |seeker_profile| %>
      <tr>
        <td><%= link_to 'Show', seeker_profile %></td>
        <td><%= link_to 'Edit', edit_seeker_profile_path(seeker_profile) %></td>
        <td><%= link_to 'Destroy', seeker_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seeker Profile', new_seeker_profile_path %> -->
