<section class=" job-bg page  ad-profile-page">
  <div class="container">
    <div class="breadcrumb-section">
      <ol class="breadcrumb">
        <li><%= link_to 'Home',root_path%></li>
        <li>Employee Profile</li>
      </ol>
      <h2 class="title">My Profile</h2>
    </div><!-- breadcrumb-section -->

    <div class="job-profile section">
      <div class="user-profile">
        <div class="user-images">
          <%= image_tag @seeker_profile.photo, class: "img-responsive1", alt: "User Images" %>
        </div>
        <div class="user">
          <h2>Hello, <a href="#"><%= @seeker_profile.first_name %></a></h2>
        </div>
      </div><!-- user-profile -->
    </div><!-- ad-profile -->

    <div class="resume-content">
      <div class="profile section clearfix">
        <div class="profile-logo">
            <!-- <img class="img-responsive" src="images/job/resume.jpg" alt="Image"> -->
        </div>
        <div class="profile-info">
            <h1>Full Name:- <%= @seeker_profile.first_name %> <%= @seeker_profile.last_name %></h1>
            <address>
                <p>Address: <%= @seeker_profile.perm_address %> <br> Phone:<%= @seeker_profile.phone_no %><br> </p>
            </address>
        </div>
      </div><!-- profile -->

      <div class="educational-background section">
        <div class="icons">
            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
        </div>
        <div class="educational-info">
          <h3>Education Background</h3>
          <ul>
            <% @seeker_profile.seeker_educations.each do |f| %>
              <li>
                <h4><%= f.education.eduName %></h4>
                <ul>
                  <li>Passed Year: <span><%= f.year %></span> </li>
                  <li>Collge/School <span><%= f.colzname %></span></li>

                </ul>
              </li>
            <% end %>
          </ul>
        </div><!-- educational-background -->


      <div class="icons">
          <i class="fa fa-graduation-cap" aria-hidden="true"></i>
      </div>
      <div class="educational-info">
        <h3>Category</h3>

        <% if @seeker_profile.seeker_categories.present? %>
          <%= @seeker_profile.seeker_categories.first.category.name %>
        <% end %>
      </div>
</br>
      <div class="icons">
          <i class="fa fa-graduation-cap" aria-hidden="true"></i>
      </div>
      <div class="educational-info">
        <h3>Skills</h3>
        <ul>

          <% if @seeker_profile.seeker_skills.present? %>
            <% @seeker_profile.seeker_skills.each do |f| %>
              <h3><%= f.skill.name %> <h3>
            <% end %>
          <% end %>

        </ul>

    </div><!-- educational-background -->
</br>

      <div class="special-qualification: section">
        <div class="icons">
            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
        </div>
        <div class="qualification">
          <h3>Special Qualification:</h3>
          <p><%= raw @seeker_profile.certificate %></p>

        </div>
      </div><!-- educational-background -->

      <div class="personal-deatils section">
          <div class="icons">
              <i class="fa fa-user-secret" aria-hidden="true"></i>
          </div>
          <div class="personal-info">
            <h3>Personal Deatils</h3>
              <ul class="address">
                  <li><h5>Full Name </h5> <span>:</span><%= @seeker_profile.first_name %> <%= @seeker_profile.last_name %></li>

                  <li><h5>Date of Birth </h5> <span>:</span><%= @seeker_profile.dob %></li>
                  <li><h5>Permanent Address </h5> <span>:</span><%= @seeker_profile.perm_address %></li>
                  <li><h5>Temporary Address </h5> <span>:</span><%= @seeker_profile.temp_address %></li>
                  <li><h5>Nationality </h5> <span>:</span><%= @seeker_profile.nationality %></li>
                  <li><h5>Sex </h5> <span>:</span><%= @seeker_profile.sex %></li>
                  <li><h5>Preffered Job location </h5> <span>:</span><%= @seeker_profile.prefered_loc %></li>
                  <li><h5>Job Experience </h5> <span>:</span><%= @seeker_profile.experience %></li>

              </ul>
          </div>
      </div><!-- personal-deatils -->

      <div class="declaration section">
            <div class="icons">
                <i class="fa fa-hand-peace-o" aria-hidden="true"></i>
            </div>
            <div class="declaration-info">
              <h3>About me</h3>
              <p><%= raw @seeker_profile.description %></p>
            </div>
      </div><!-- career-objective -->
      <!-- <div class="download-button resume">
        <a href="#" class="btn">Download Resume as doc</a>
      </div> -->
    </div><!-- resume-content -->
  </div><!-- container -->
</section><!-- ad-profile-page -->
