<!DOCTYPE html>
<html>
  <head>
    <title>Jobspot - A Job Recommender</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
      <%= javascript_include_tag 'application'%>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="icon" href="../../assets/favicon.png">

      <!-- font -->
  	<link href="https://fonts.googleapis.com/css?family=Baumans" rel="stylesheet">
  	<link href='https://fonts.googleapis.com/css?family=Signika+Negative:400,300,600,700' rel='stylesheet' type='text/css'>
    </head>

    <body>
   	 <div id="wrap">
    		<%= render 'shared/nav' %>

        <div class = "container">
          <div class = "row">
            <div class = "col-xs-12 col-md-10 col-md-offset-1">
              <%= render 'shared/flash_messages' %>
            </div>
          </div>
<<<<<<< HEAD
        </div>   	
=======
        </div>
        <%= yield %>
>>>>>>> 06a0ba2f4f5a486e59892735b8434344ff247f05
      </div>
        <div class = "row">
          <%= yield %>
        </div>

      <%= render 'shared/foot' %>
  </body>
</html>
