<!DOCTYPE html>
<html>
  <head>
    <title>Jobspot</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
      <%= javascript_include_tag 'application'%>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="icon" href="../assets/favicon.png">

      <!-- font -->
  	<link href="https://fonts.googleapis.com/css?family=Baumans" rel="stylesheet">
  	<link href='https://fonts.googleapis.com/css?family=Signika+Negative:400,300,600,700' rel='stylesheet' type='text/css'>
    </head>

    <body>
   	 <div id="wrap">
    		<%= render 'shared/nav' %>
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
      	<%= yield %>
      </div>

      <%= render 'shared/foot' %>
  </body>
</html>
